.caja{
	width: 200px;
	height: 200px;
	/*background: #328BF0;*/
	/*background: rgb(84%, 15%, 24%);*/
	/*background: #035DD7;*/
	background: rgba(215, 38, 61 , .2);
}

/*- Hay 17 palabras clave que podemos usar:
 aqua, black, blue, fuchsia, gray, green,
 lime, maroon, navy, olive, orange, purple,
 red, silver, teal, white, yellow

-RGB Decimal: rgb(215, 38, 61);
-RGB Porcentual: rgb(84%, 15%, 24%);
-RGB Hexadecimal: #D7263D;
 
-RGBA red:rojo green:verde blue:azul
alpha:tranparente, para dar efecto con
traparencia a la imagen;
 */