<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam repudiandae temporibus voluptatem porro! Atque at, laboriosam dolores nulla itaque, consectetur a recusandae vero officia eius error distinctio doloremque, tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam repudiandae temporibus voluptatem porro! Atque at, laboriosam dolores nulla itaque, consectetur a recusandae vero officia eius error distinctio doloremque, tempora!</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacatos</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3>Información</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iusto porro quisquam est adipisci perferendis inventore consequatur culpa dignissimos pariatur mollitia molestiae atque necessitatibus odio vitae deleniti, accusantium voluptatem vel!</p>
            </div>
        </aside>
        <footer>
            <p>Ruben Hernández Rios 2019 - Todos los derechos Reservados</p>
        </footer>
    </div>
</body>

</html>